<% content_for :head do -%>
   <%= auto_discovery_link_tag %>
 <% end -%>

<table class='microposts' summary ="Index of Microblogs">
  <tr>
    <td class='main'>
      <%= render 'search_form' %>
      <%= render 'sort_form' %>
      <%= render 'shared/microposts' %>
    </td>
    <td class="sidebar round">
      <p><%= link_to "Write New Microblog", new_microblog_path, :class => 'big_button round'  %></p>
      <p><%= link_to "Read All Microblogs", read_microblogs_path, :class => 'big_button round'  %></p>
      <p><%= link_to "RSS Feed", params.merge(:format => :rss), :class => 'rss_button round'  %></p>

      <h3>Top #Hashtags</h3>
      <%= render 'hashtags' %>
      
      <h3>Top Bloggers</h3>
      <%= render 'shared/users' %>

    </td>
  </tr>
</table>

