<h1><%= title 'Settings' %> </h1>
<div id="tabs">
  <ul>
    <li style="margin-left: 1px" id="tabHeaderActive">
      <a href="javascript:void(0)" onClick="toggleTab(1,4)"><span>Twitter</span></a>
    </li>
    <li id="tabHeader2">
      <a href="javascript:void(0)" onClick="toggleTab(2,4)" ><span>SMS</span></a>
    </li>
    <li id="tabHeader3">
      <a href="javascript:void(0)" onclick="toggleTab(3,4)"><span>Email</span></a>
    </li>
    <li id="tabHeader4">
      <a href="javascript:void(0)" onClick="toggleTab(4,4)"><span>Account</span></a></li>
  </ul>
</div>

<div id="tabscontent">
  <div id="tabContent1" class="tabContent" style="display:yes;">
    <%= render :partial => 'edit_twitter' %>
  </div>
  <div id="tabContent2" class="tabContent" style="display:none;">
    <%= render :partial => 'edit_sms' %>
  </div>
  <div id="tabContent3" class="tabContent" style="display:none;">
      <%= render :partial => 'edit_email' %>
  </div>
  <div id="tabContent4" class="tabContent" style="display:none;">
      <%= render :partial => 'edit_account' %>
  </div>
</div>


