<tr>
  <td>
    <td class='avatar'>
      <%= link_to image_tag(user.image, :alt => "Profile Pic", :class => 'avatar'), "/#{user.name}" %>
    </td>
    <td class='micropost'>
      <span class='user'>
        <%= link_to user.name, "/#{user.name}" %><br />
      </span>
      <span class='stats'>
      Microposts <%= user.microposts_count %><br />
      Microblogs <%= user.microblogs_count %><br />
      </span>
      <% if signed_in? && current_user.admin? %>
        | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
          :title => "Delete #{user.name}" %>
        <% end %>
    </td>
  </td>
</tr>
